<header class="header-content header">
  <div class="logo-content">
      <img src="../../../assets/logo.png" alt="Logo">
      <div>
          <span class="person-text">ADDRESS</span><br>
          <span class="person-text address-book">BOOK</span>
      </div>
      <div class="emp-text">
        Address Book UI
   </div>
      </div>
</header>

<div class="person-details">
  <div class="emp-detail-text">
       Personal Details
  </div>
  <a class="add-button" mat-raised-button routerLinkActive="active">
    <img src="../../../assets/add-24px.svg" (click)="addNewContact()" alt="">Add Contact
  </a>
</div>
<div class="table-main">
  <table id="table-display" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>State</th>
        <th>City</th>
        <th>Zip Code</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let contact of contactList">
      <td>{{contact.name}}</td>
      <td>{{contact.phoneNumber}}</td>
      <td>{{contact.address}}</td>
      <td>{{contact.state}}</td>
      <td>{{contact.city}}</td>
      <td>{{contact.zip}}</td>
      <td>
        <img id="{{contact.addressBookId}}" (click)="ConfirmDelete(contact.addressBookId)"  alt="delete " src="../../../assets/delete-black-18dp.svg">
      </td>
    </tr>
  </table>
</div>
