  <div class="form-content" fxLayout.xs="column">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-head">
          <div class="form-head-text">Update Persons Details</div>
          <button  (click)="cancel()" mat-button style="font-style: italic;">Cancel</button>
      </div>
      <div fxLayout="column" fxLayout.xs="column" class="top-space" >
        <div fxLayout="column" fxLayout.xs="column" class="space">
          <label for="name">Name</label>
            <mat-form-field appearance="outline" fxFlex="82%">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" [(ngModel)]="name" formControlName="name">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.xs="column" class="space">
          <label for="phone">Phone Number</label>
            <mat-form-field appearance="outline" fxFlex="82%">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="Your Phone Number" [(ngModel)]="phoneNumber" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.xs="column" class="space">
          <label for="Address"> Address</label>
          <mat-form-field appearance="outline" fxFlex="82%">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" [(ngModel)]="address" formControlName="address">
          </mat-form-field>
        </div>
    <div class="container">
      <div class="row">
            <div class="col">
              <div fxLayoutGap="10px"  fxLayout.xs="column" >
                <label for="state">State</label>
                <mat-form-field appearance="outline" >
                <mat-select [(ngModel)]="state" formControlName="state" placeholder="State" (valueChange)="setCities($event)">
                    <mat-option *ngFor="let state of citiesAndStates" [value]="state" >
                      {{state.state}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <div fxLayoutGap="10px" fxLayout.xs="column" >
                <label for="city">City</label>
                <mat-form-field appearance="outline" >
                <mat-select formControlName="city" [(ngModel)]="city" placeholder="City" >
                    <mat-option *ngFor="let city of cities" [value]="city" >
                      {{city}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <div fxLayoutGap="10px">
                <label for="zip">Zip Code</label>
                <mat-form-field appearance="outline" >
                  <mat-label>Zip Code</mat-label>
                  <input matInput placeholder="Zip Code" [(ngModel)]="zip" formControlName="zip">
                </mat-form-field>
              </div>
            </div>
      </div>
    </div>
    <div fxLayoutAlign="center center" fxLayoutGap="180px">
          <button type="submit" mat-raised-button color="primary">Add Contact</button>
    </div>
  </div>
</form>
</div>

