<!-- <div fxLayout="column" fxFlex="100"> -->
  <div>
<header class="header-content header">
  <div class="logo-content">
      <img src="../../../assets/logo.png" alt="Logo">
      <div>
          <span class="person-text">ADDRESS</span><br>
          <span class="person-text address-book">BOOK</span>
      </div>
  </div>
</header>
<div class="form-content"  fxLayout.xs="column">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-head">
        <div class="form-head-text">Person Address Form</div>
        <button (click)="cancel()" mat-button style="font-style: italic;">Cancel</button>
    </div>


    <div fxLayout="column" fxLayout.xs="column" class="top-space" >
     <div fxLayout="column" fxLayout.xs="column" class="space">
        <label for="name" >Name</label>
          <mat-form-field  appearance="outline" fxFlex="82%">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
          </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.xs="column" class="space">
         <label for="phone"  >Phone</label>
          <mat-form-field appearance="outline" fxFlex="82%">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Your Phone Number" formControlName="phoneNumber" required>
          </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.xs="column" class="space">
        <label for="Address">Address</label>
        <mat-form-field appearance="outline" fxFlex="82%">
          <mat-label  class="space">Address</mat-label>
          <input matInput placeholder="Address" formControlName="address" required>
        </mat-form-field>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div fxLayoutGap="10px"  fxLayout.xs="column" >
              <label for="state">State</label>
              <mat-form-field appearance="outline" fxLayoutGap="10px" >
                <mat-select formControlName="state" placeholder="State" (valueChange)="setCities($event)">
                  <mat-option *ngFor="let state of citiesAndStates" [value]="state" >
                    {{state.state}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div fxLayoutGap="10px" fxLayout.xs="column" >
              <label for="city" >City</label>
              <mat-form-field appearance="outline" >
                <mat-select placeholder="City" formControlName="city">
                  <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div fxLayoutGap="10px" fxLayout.xs="column">
              <label for="zip">Zip Code</label>
              <mat-form-field  appearance="outline" >
                <mat-label>Zip Code</mat-label>
                <input matInput placeholder="Zip Code" formControlName="zip" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
     
      <div fxLayoutAlign="center center" fxLayoutGap="180px">
        <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary">Add Contact</button>
      </div>
    </div>
  </form>
</div>
</div>